* {
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

BODY {
  width: auto;
  padding: inherit;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

header, footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: 1vmin;
}

.banner {
  width: 100%;
  margin: 0.51vmax 0;
}

main {
  padding: 0;
  min-width: 100%;
  width: 100%;
  margin: auto;
  min-height: 78vh;
  height: 78vh;
  position: relative;
}

#primer, #composite, .composite, .options {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: auto;
  max-width: 100%;
}

#composite, .composite {
  z-index: 2;
}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.option-header {
  width: 100%;
  z-index: 2;
  margin: 48px 0;
  font-size: xx-large;
  font-family: 'Quicksand', sans-serif;
  font-variant: small-caps;
}

.responsive {
  max-width: 100%;
  width: auto;
  height: calc((9/16)*50vw);
}

.responsive-container {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alert, .notification {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notification-header {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-family: 'Quicksand', sans-serif;
  font-variant: small-caps;
}

.notification-msg {
  width: 100%;
  font-size: larger;
  font-family: 'Quicksand', sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  color: #111;
  margin: 24px 0;
}

.notification-options {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.notification-button {
  width: auto;
  height: 48px;
  font-size: large;
  font-family: 'Quicksand', sans-serif;
  font-variant: small-caps;
  font-weight: bolder;
}

.panel {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.player-controls {
  width: 50%;
  margin: 1vmax auto;
  padding: 0;
}

.meta {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 1vmax auto;
  height: auto;
}

.meta-header {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
}

.meta-timer {
  width: 100%;
}

.panel-head {
  width: 100%;
  text-align: center;
  margin: 1vmax 0;
}

.player-control-header {
  font-family: 'Quicksand', sans-serif;
}

.controls {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
}

.ctrl-up, .ctrl-down {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ctrl-multiple {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ctrl-right, .ctrl-start, .ctrl-left {
  width: 32%;
}

.ctrl-image {
  min-width: 48px;
  width: 48px;
  max-width: 100%;
  max-height: 48px;
  height: auto;
}

#ctrl-up, #ctrl-down, #ctrl-right, #ctrl-left {
  cursor: pointer;
  z-index: 10;
}

.help {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  height: auto;
  margin: 1vmax auto;
}

.panel-help {
  width: 100%;
}

.controls-help {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.control-help-header {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  text-decoration: underline;
}

.control-help-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.control-help-list-item {
  width: 50%;
  font-family: 'Quicksand', sans-serif;
  margin: 1vmin 0;
  font-weight: bold;
  text-align: right;
  padding: 0 1vmin;
}

.control-help-list-item:nth-of-type(2n) {
  text-align: left;
}

figure, picture {
  max-width: 100%;
  width: auto;
}