* {
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

BODY {
  width: auto;
  padding: inherit;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main {
  padding: 0;
  min-width: 100%;
  width: 100%;
  margin: auto;
  min-height: 78vh;
  height: 78vh;
}

canvas, .options {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: auto;
  max-width: 100%;
}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.option-header {
  width: 100%;
  z-index: 2;
  margin: 40px 0;
}

.responsive {
  max-width: 100%;
  width: auto;
  height: calc((9/16)*50vw);
}

.responsive-container {
  width: 50vw;
}

figure, picture {
  max-width: 100%;
  width: auto;
}